* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
}

body {
    background: url('assets-weathers/bg-image-of-weather-app.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
}

.weather-container {
    width: 300px;
    min-height: 496px;
    height: auto;
    z-index: 1;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.15),
    rgba(255, 255, 255, 0.15));
    border-radius: 10px;
    backdrop-filter: blur(100px);
    padding: 20px;
    padding-bottom: 24px;
}

/* Input container part */

.search-input {
    width: 100%;
    padding: 10px 16px;
    border-radius: 99px;
    border: 3px solid transparent;
    background: rgba(0, 0, 0, 0.15);
    outline: none;
    font-weight: 600;
    transition: 0.25s border;
    padding-right: 40px;
}

.search-input:focus {
    border: 3px solid rgba(0, 0, 0, 0.15);
}

.search-input::placeholder {
    color: rgba(255, 255, 255, 0.70);
}

.input-container {
    position: relative;
    margin-bottom: 22px;
}

.search-btn {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    border: none;
    background: transparent;
    cursor: pointer;
}

/* Input container part finish */

/* Section weather info container  */

.weather-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.location-date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location {
    display: flex;
    align-items: center;
    gap: 2px;
}

.current-date {
    font-weight: 400;
    font-size: 13px;
    margin-left: 10px;
}

/* weather condition container part  */

.weather-condition-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-condition-container img {
    width: 120px;
    height: 120px;
}

.weather-temperature {
    text-align: end;
}

.condition-name {
    font-size: 20px;
}


/* Section weather info container finished  */

.weather-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.detail-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 7px;
}

.detail-item span {
    font-size: 30px;
}

/* forecast-items-container part styling  */

.forecast-items-container {
    display: flex;
    gap: 15px;
    overflow: scroll;
    padding-bottom: 10px;
    margin-top: 20px;
}

.forecast-items-container::-webkit-scrollbar {
    height: 8px;
    width: 2px;
}

.forecast-items-container::-webkit-scrollbar-track {
    background: rgb(0, 0, 0, 0.1);
    border-radius: 99px;
}

.forecast-items-container::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0, 0.15);
    border-radius: 99px;
}

.forecast-items-container::-webkit-scrollbar-corner {
    background: rgb(0, 0, 0, 0.1);
}

.forecast-item {
    min-width: 70px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    gap: 6px;
    border-radius: 12px;
    padding: 10px;
    margin-top: 40px;
    align-items: center;
    transition: 0.5s background;
}

.forecast-item:hover {
    background: rgba(119, 110, 110, 0.15);
}

.forecast-item-img {
    width: 38px;
    height: 38px;
}

/* forecast-items-container part styling finished  */

/* New section start for search city and error showing  */

.message-section img {
    height: 250px;
    width: fit-content;
}

.message-section {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 20%;
    align-items: center;
    text-align: center;
}

.message-section h1 {
    color: black;
    margin-top: -30px;
}

.not-found {
    min-height: 240px;
    margin-top: 30px;
}

.not-found h1 {
    margin-top: -50px;
    color: rgb(37, 34, 34);
}

.not-found img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.search-city h1 {
    color: #141313;
}

/* New section finished for search city and not found showing  */