* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background: url("./assests/weather-app-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header {
    padding: 1rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    color: rgb(214, 164, 0);
    text-decoration: underline;
    font-size: 1.8rem;
}

.header #inputBox {
    border: none;
    outline: none;
    padding: 5px 10px;
    color: white;
    font-size: 1rem;
    border-radius: 15px;
    background: rgba(104, 103, 103, 0.7);
}

.header #search {
    background: cadetblue;
    outline: none;
    border: none;
    font-size: 17px;
    border-radius: 15px;
    cursor: pointer;
    padding: 5px 15px;
}

main {
    display: grid;
    grid-template-columns: 1fr 5px 1fr;
    gap: 25px;
    align-items: center;
    margin: 0 50px;
}

.weather {
    text-align: center;
    color: aliceblue;
}

.weather #weather-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(240, 248, 255, 0.4);
}

#city-name {
    font-weight: 700;
    font-size: 25px;
}

#temperature {
    font-size: 30px;
    margin: 0;
    margin-left: 20px;
    margin-bottom: 10px;
}

.temp-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

#condition-name {
    font-size: 1rem;
    background: #4CAF50;
    padding: 5px 12px;
    border-radius: 15px;
}

/* forcast  */
.forcast-header {
    width: max-content;
    border-radius: 15px;
    padding: 5px 15px;
    margin-bottom: 5px;
    text-transform: capitalize;
    font-size: 18px;
    color: aliceblue;
    background: #7B1FA2;
}

.nextDay-cast {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.nextDay-cast p:nth-child(2) {
    margin: 3px 0;
    font-weight: 700;
    color: #6cc506;
}

.nextDay-cast .time {
    color: #ff8c00;
    font-weight: 700;
}

.desc {
    color: #3c6d04;
    font-weight: 700;
}

.divider1,
.divider2 {
    width: 3px;
    height: 300px;
    border-radius: 15px;
    background: linear-gradient(#9c1f6f, #ff6a00, #ffc300);
}

.divider2 {
    width: 60%;
    height: 3px;
    margin: 0 auto;
}

.forcast-header2 {
    width: max-content;
    border-radius: 15px;
    padding: 5px 15px;
    margin-bottom: 5px;
    margin-top: 15px;
    text-transform: capitalize;
    font-size: 18px;
    color: aliceblue;
    background: #7B1FA2;
}

.detail-forcast {
    padding: 1rem 5rem;
}

.week-forcast {
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.date {
    margin: 5px 0;
    color: #ff8c00;
    font-weight: 600;
}

.day-forcast .desc {
    color: #6cc506;
    font-weight: 600;
}

.day-forcast p:nth-child(2) {
    color: aliceblue;
    font-weight: 600;
}





/* media query  */
@media (max-width: 638px) {
    .header h1 {
        font-size: 1.3rem;
    }

    .header #inputBox {
        padding: 5px 7px;
        color: white;
        font-size: 1rem;
    }
}

/* media query  */